<div class="logo">
  <a href="#/chat" class="simple-text logo-mini" (click)="clickNewChat()">
    <i class=" tim-icons icon-simple-add"> </i>
  </a>
  <a href="#/chat" class="simple-text logo-normal" (click)="clickNewChat()">
    New Chat
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
    <a [routerLink]="[menuItem.path]" (click)="clickExistingChat(menuItem.id)">
      <div class="row col-12">
        <div class="col-6 menuItem">
          <span>{{ menuItem?.title }}</span>
        </div>
        <div *ngIf="menuItem.id == existingChatId" class="col-1">
          <i class=" delete tim-icons icon-pencil"> </i>
        </div>
        <div *ngIf="menuItem.id == existingChatId" class="col-1">
          <i class=" delete tim-icons icon-trash-simple" (click)="deleteExistingChat(menuItem.id)"> </i>
        </div>
      </div>
    </a>
    </li>
  </ul>
</div>

