<div class="logo">
  <a href="#/chat" class="simple-text logo-mini" (click)="clickNewChat()">
    <i class=" tim-icons icon-simple-add"> </i>
  </a>
  <a href="#/chat" class="simple-text logo-normal" (click)="clickNewChat()">
    New Chat
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]" (click)="clickExistingChat(menuItem.id)">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p class="menuItem">{{ menuItem?.title }}</p>
      </a>
    </li>
  </ul>
</div>

