.sub-card {
    background-color: #1e1e2f;
    opacity: 0.5;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 200px;
}

.card-description {
    justify-content: center;
}